.dark-gray-background{
    -fx-background-color: dimgray;
}

.gray-background{
    -fx-background-color: gray;
}

.light-gray-background{
    -fx-background-color: gainsboro;
}

.transparent-background{
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #48b9da;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #1c91bd;
}